 #body{
              
              background: linear-gradient(to bottom ,rgba(179, 195, 255,0.20) 35%,rgba(192,192,192,0))	;
             
              background-repeat: no-repeat;
              background-size: contain;
              text-align: justify;
              text-transform: none;
              margin:0px;
              border:20pxs;
              font-family:sans-serif;
              font-size: 14px;
              
  }
#main-header{
    font-family: serif;
    font-size: 25px;
}
#footer-gra{
    height: 75px;
    background: linear-gradient(180deg,  rgba(192,192,192,0),rgba(10,10,10),rgba(0,0,0,1))
    
}
 
.footer{
                      
         background: rgba(0,0,0);
         height:inherit;
 }
.links{
    text-decoration: inherit;
    text-align: justify;
    margin:8px;
}
#button{
    height: 25px;                               
    width: 55px;
    margin: 0 ;
    text-align: center;
    border-radius: 20px;
    background: black;
    color:white;
    margin-bottom: 20;
    border-color: rgba(179, 195, 255,0.30);

    
    
}
#button:hover {
    background: lightblue;
    border-color:rgba(179, 195, 255,1);
    color:black;
    cursor:pointer;
    
}

#textarea{
    width: auto;
    height:43;
    
}
    

#comments{
    align-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    flex-wrap: wrap;
    
}


p{
    margin:8px;
    
}
h2{
    margin:8px;
}     
h3{
    margin:8px;
}
b{
    margin:8px;
}
a{
    margin: 8px;
}
.link{
    margin:8px;
    
}